html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-container {
    background: rgba(247, 248, 252);
    padding: 20px 50px;
}

.main-container .form-wrapper {
    background: white;
    max-width: 800px;
}

#message {
    width: 100px;
}